@font-face {
  font-family: 'Martian Mono';
  font-display: swap;
  src: url("assets/fonts/martian-mono/MartianMono-Variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 800;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("assets/fonts/inter/Inter-Variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

body {
  font-family: 'Inter', sans-serif;
}