@font-face {
  font-family: 'Martian Mono';
  font-display: swap;
  src: url("$fonts/martian-mono/MartianMono-Variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 800;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("$fonts/inter/Inter-Variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

:root {
  font-size: 16px;

  --neutral-0: hsl(0, 0%, 100%);
  --neutral-100: hsl(17, 41%, 97%);
  --neutral-200: hsl(17, 12%, 89%);
  --neutral-700: hsl(195, 23%, 28%);
  --neutral-900: hsl(194, 78%, 11%);
  --light-salmon-50: hsl(23, 100%, 97%);
  --light-salmon-100: hsl(22, 100%, 91%);
  --light-salmon-500: hsl(22, 99%, 72%);

  --text-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}

body {
  font-family: 'Inter', sans-serif;
}

.header,
.footer,
.hero__container,
.reading,
.not-average,
.tech-journey,
.membership-options,
.personal-testimony,
.footer {
  width: 80%;
  margin: auto;
}

.header {
  padding-top: 1rem;
}

.hero__container {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.hero {
  background: var(--neutral-100) url("$images/pattern-light-bg.svg");
  position: relative;
  overflow: hidden;
}

.hero__title {
  background: var(--text-gradient);
  color: transparent;
  background-clip: text;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.hero__btn {
  padding: 1rem 1rem;
  align-self: flex-start;
  background: var(--light-salmon-50);
  color: var(--neutral-900);
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
}

.hero__btn img {
  display: inline-block;
}

.hero__img {
  object-fit: contain;
  flex: 1;
  z-index: 2;
}

.hero__img img {
  border-radius: 1rem;
}

.hero__description {
  color: var(--neutral-700);
}

.hero__testimonial {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.hero__testimonial__avatars img {
  height: 3rem;
}

.hero__social-stars {
  display: flex;
}

.hero__light {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  z-index: 1;
}

.reading {
  display: flex;
  gap: 5rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.reading .reading__img {
  object-fit: contain;
  flex: 1;
}

.reading .reading__img img {
  border-radius: 1rem;
}

.reading .reading__text {
  padding-top: 2.75rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
}

.reading .reading__text h2 {
  color: var(--neutral-900);
}

.reading .reading__text ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* TODO: Fix list marker and text vertical alignment */
.reading .reading__text li {
  color: var(--neutral-700);
  list-style-image: url("$images/icon-check.svg");
}

.not-average {
  display: flex;
  gap: 5rem;
}

.not-average__text {
  padding-top: 8rem;
  padding-bottom: 8rem;
  flex: 1;
}

.not-average__text h2 {
  margin-bottom: 1.5rem;
  color: var(--neutral-900);
}

.not-average__word-circle {
  position: relative;
  display: inline-block;
}

/* TODO: Fix circle clip */
.not-average__word-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("$images/pattern-circle.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.not-average__text p {
  color: var(--neutral-700);
}

.not-average__img {
  object-fit: contain;
  flex: 1;
}

.not-average__img img {
  border-radius: 1rem;
}

.tech-journey {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  background: var(--neutral-100) url("$images/pattern-light-bg.svg");
  margin-top: 8rem;
  padding: 5rem 3.75rem 4rem;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}

.tech-journey h2 {
  text-align: center;
  color: var(--neutral-900);
}

.tech-journey__container {
  display: flex;
  gap: 3rem;
}

.tech-journey__step {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tech-journey__step__top {
  display: flex;
  justify-content: space-between;
}


.tech-journey__step div div {
  width: 2rem;
  height: 2rem;
  align-content: center;
  text-align: center;
  border: 2px solid var(--neutral-900);
  border-radius: 0.25rem;
}

.tech-journey__light {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  z-index: 1;
}

.membership-options {
  padding-top: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.membership-options__packs {
  display: flex;
  gap: 1.5rem;
}

.membership-options__pack {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid var(--neutral-200);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.membership-options__pack hr {
  border: none;
  border-top: 1px solid var(--neutral-200);
}

.membership-options__pack ul li {
  list-style-image: url("$images/icon-check.svg");
  margin-bottom: 1rem;
}

.membership-options__pack__btn {
  padding: 1rem 1rem;
  align-self: flex-start;
  background: var(--light-salmon-50);
  color: var(--neutral-900);
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
}

.personal-testimony {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5rem
}

.personal-testimony__social-stars{
  display: flex;
}

.personal-testimony p {
  width: 60rem;
  text-align: center;
}

.footer {
  background-color: var(--neutral-900);
  color: var(--neutral-100);
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer h2 {
  width: 47rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.footer__btn {
  background-color: var(--neutral-900);
  color: var(--neutral-100);
  border: 2px solid var(--neutral-0);
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  padding: 1rem 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.footer__btn img {
  display: inline-block;
}

.footer__testimonial {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 4rem;
}

.footer__testimonial__avatars img {
  height: 3rem;
}

.footer__social-stars {
  display: flex;
  gap: 0.25rem;
}

.footer hr {
  border: none;
  width: 80%;
  border-top: 1px solid var(--neutral-700);
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}

.footer__copyright div {
  color: var(--neutral-100);
}

.footer__copyright__icons {
  display: flex;
  gap: 1.5rem;
}

.footer__copyright__icons img {
  width: 22px;
  height: 22px;
}
