/*
 * Utility classes
 */

.radius-0 { border-radius: 0; }
.radius-4 { border-radius: 4px; }
.radius-6 { border-radius: 6px; }
.radius-8 { border-radius: 8px; }
.radius-10 { border-radius: 10px; }
.radius-12 { border-radius: 12px; }
.radius-16 { border-radius: 16px; }
.radius-20 { border-radius: 20px; }
.radius-24 { border-radius: 24px; }
.radius-full { border-radius: 999px; }

.text-1 {
    font-size: 62px;
    font-family: "Martian Mono", monospace;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: -2px;
}

.text-5 {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: -0.5px;
}

.text-6 {
    font-family: "Martian Mono", monospace;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
}

.text-7 {
    font-family: "Martian Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1px;
    color: var(--neutral-700);
}