* {
  --light-red-pale: hsla(0, 100%, 67%, 0.05);
  --orangey-yellow-pale: hsla(39, 100%, 56%, 0.05);
  --green-teal-pale: hsla(166, 100%, 37%, 0.05);
  --cobalt-blue-pale: hsla(234, 85%, 45%, 0.05);

  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --dark-grey-blue: hsl(224, 30%, 27%);
}

.card {
  width: 736px;
  height: 512px;
  background-color: #fff;
  border-radius: 32px;
  margin: auto;
  display: flex;
}

.left {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 3rem;
  padding-right: 3rem;
}

.right h1 {
  margin-top: 38px;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 24px;
}

.left h1 {
  font-size: 24px;
  margin-top: 38px;
  margin-bottom: 38px;
  color: hsl(241, 100%, 89%);
}

.score {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  color: #fff;
}

.score span:nth-of-type(1) {
  font-size: 74px;
  font-weight: bold;
}

.score span:nth-of-type(2) {
  font-size: 18px;
  color: #CAC9FF;
}

.left div:nth-of-type(2) {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left p {
  font-size: 18px;
  color: #CAC9FF;
  width: 260px;
  text-align: center;
}

.summary-name {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.summary-name svg {
  margin-right: 1rem;
}

.summary-row {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
}

.summary-row span,
.summary-score strong {
  font-size: 18px;
}

.continue-btn {
  background-color: var(--dark-grey-blue);
  color: white;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  border-radius: 128px;
  margin-top: 1.5rem;
  font-size: 18px;
  height: 56px;
}